@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header{
  background-color: #F5F5F5;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 180px;
}
.logo{
  text-decoration: none;
  color: #121212;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.navbar a{
  text-decoration: none;
  color: #121212;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 50px;
  transition: 550ms ease;

}
.navbar a:hover{
  color: #F05454;
  font-size: 1.3em;
  text-decoration: underline #F05454;
}

section{
  padding: 100px 200px;
}
.main{
  width:100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #121212;
  /* background: url(images/me.jpeg) no-repeat; */
  /* background-size: cover;
    background-position: center; 
    background-attachment: fixed*/

}
.main h2{
  color: #F5F5F5;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span{
  display: inline-block;
  margin-top: 10px;
  color: #F05454;
  font-size: 1.8em;
  font-weight: 600;
}
.main h3{
  color: #F5F5F5;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 3px;
}
.cv-btn{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 24px;
  text-decoration: none;
  color:#121212;
  background-color: #FF7272;
  font-weight: 500;
  border-radius: 15px;
  padding: 0.90em 1.7em; 
  text-shadow: 2px 2px #F05454;
  transition: 550ms ease;
}

.cv-btn:hover{
  color:#121212;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 #F5F5F5, 0 6px 20px 0 #F5F5F5;
  background-color: #F05454;
  text-shadow: 2px 2px #FF7272;
}

.social-icons a img{
  display: inline-block;
  height: 2.2em;
  width: 2.8em;
  padding-right: 8px;
  transition: 550ms ease;
}

.social-icons a img:hover{
  transform: scale(1.4);
}

.progress-bar{
  background-color: hsl(0, 0%, 11%);

}
.title{
  display: flex;
  justify-content: center;
  font-size: 3.1em;
  color: #6563ff;
  margin-bottom: 35px;
}
.skill{
  width: 13em;
  height: 13em;
  background-color: #121212;
  position: relative;
}
.outer{
  position: absolute;
  width: 9.4em;
  height: 9.4em;
  border-radius: 50%;
  box-shadow: 2px 2px 10px -1px #FF9F45, -2px -2px 10px -1px #FF9F45;
  left: 28px ;
  top:28px;
}
.inner{
  position: absolute;
  width: 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5em;
  border-radius: 50%;
  box-shadow: inset 1px 1px 7px -1px #FF9F45, inset -1px -1px 7px -1px #FF9F45;
  top: 15px;
  left: 15px;
}

#number{
  color:#F5F5F5;
  font-weight: 500;
}

.skill svg circle{
  fill: none;
  stroke: #FF9F45;
  stroke-width: 19px;
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  animation: anim 2s linear forwards;
}
.skill svg{
  position: absolute;
  top:23px;
  left:23px;
}
@keyframes anim {
  100%{
    stroke-dashoffset: 80;
  }
}
/* #30475E */